*.txt
*.svg
.DS_Store
sudoku
sudoku2svg
sudokus/
.vscode/
CMakeFiles/
Makefile
build/
cmake_install.cmake
.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Debug/
INSTALL.vcxproj
INSTALL.vcxproj.filters
Release/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
sudoku.dir/
sudoku.sln
sudoku.vcxproj
sudoku.vcxproj.filters
sudoku2svg.dir/
sudoku2svg.vcxproj
sudoku2svg.vcxproj.filters
x64/

.ninja_deps
.ninja_log
__attic/
build.ninja
